<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'shared/sidenav' %>
    </div>

    <div class="col-6 pt-5"> 
          <h2 class="subheading">Get Started</h2>
          <%= link_to new_question_path do %>
            <div class="ask-a-question">
              <div class="card-qn-infos">
                <h2>Ask a question</h2>
                <p>Specify a problem &middot; Set a price &middot; Connect and learn</p>
              </div>
              <%= image_tag "code.svg" %>
            </div>
          <% end %> 
    </div>

    <div class="col-3 pt-5">
    
    </div>
  </div>
</div>
