<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <%= render 'shared/sidenav' %>
    </div>
    <div class='col-7'>
      <% if current_user.tutor %>
        <%= render 'tutor' %>
      <% else %>
        <%= render 'student' %>
    </div>
    <% end %>
    <div class="col-3 pt-5">
      <h2 class="subheading">Help and Support</h2>
    </div>
  </div>
</div>
