
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Get instant help for your coding questions</h1>
      <p class="description">Codebud connects novice coders to student tutors. Get your most frustrating coding questions answered quickly and affordably now.</p>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <%= render "learn_to_code" %>
    </div>
  </div>
</div>


