<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# h1 %>
<h1>Pick Your Tutor</h1>

<%# subheading %>
<p class="subheading" >You will be connected with the tutor after payment</p>

<%# h2 %>
<h2>Answer a question</h2>

<%# muted %>
<p class='muted'>
  Filter: Add a language / Framework / Topic
</p>

<%# blue %>
<a href='#', class='blue'>How will I get paid?</a>

<%# information %>
<a href="#", class='information'>ℹ Click to message
your tutee on when and
how to meet</a>

<%# account details %>
<div class='card-container'>

    <div class='detail-header'>
      <strong>Account Details</strong>
      <a href="#", class='blue'>🖊Edit Account Details</a>
      <a href="#", class='blue'>🖊Change Password</a>
    </div>

    <div class='detail-desc'>

      <div class='avatar'><h3>IMG</h3></div>

      <div class='name-email'>
        <p class='muted'>name</p>
        <p>enter-name-link</p>
        <p class='muted'>email</p>
        <p>enter-email-link</p>
      </div>

      <div class='password'>
        <p class='muted'>Password</p>
        <p>enter-password</p>
      </div>

    </div>

</div>


<div class='card-row'>
  <img src="#" alt="IMG HERE" width='81' height='81'>
  <p class='muted'>No questions applied. Apply for a question now.</p>
</div>
