<h1>UI KIT</h1>

<div class="container">
  <h2>Buttons</h2>
  <div class="container">
    <div class="btn dark-btn">Dark</div>
    <div class="btn light-btn">Light</div>
    <div class="btn white-btn">White</div>
    <div class="btn round-btn">Round</div>
    <div class="btn fat-btn">Fat</div>
    <div class="btn transparent-btn">Transparent</div>
  </div>
</div>

<div class="container">
  <h2>Cards</h2>
  <div class="card-qn">
    <div class="card-qn-infos">
      <h2>Card-qn</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>

  <div class="card-tutor">
    <div class="d-flex">
      <img class="avatar-sm mr-3" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" >
      <div class="card-tutor-infos">
        <h2>Tutor John</h2>
        <p>Good with</p>
          <span class='white-btn-sm'> Javascript</span>
          <span class="white-btn-sm"> Ruby </span>
        <p>See full details > </p>
       </div>
    </div>

    <div class="card-tutor-infos">
      <p>Avaliability</p>
      <p>3pm  6pm</p>
    </div>

    <div class= "d-flex">
      <div class="card-tutor-infos ml-3">
        <p>Price</p>
        <p>$15</p>
      </div>

      <div>
        <p class="white-btn-sm mx-4">Select</p>
      </div>
    </div>

  </div>

</div>
