.navbar-color {
  background-color: #000022;
}

.navbar-logo {
  width: 200px;
}

.nav-right {
  display: inline-block;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navlink {
  .how-it-works{
    color: white;
    display: inline-block;
  } 
  img {
    width: 30px;
  }
}

@media only screen and (max-width: 995px) {

  .navlink {
    border: solid 1px gray;
    padding: 0.3rem;
    background-color: white;

    a {
      color: black;
      font-size: 1.3rem;
      display: block;
      text-decoration: none;
    }

    &:hover {
      background-color: lightblue;
      a{
        color: gray;
      }
    }
  }
}
