.card-qn {
  height: 120px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
}

.card-qn img {
  height: 90%;
  width: 120px;
  object-fit: cover;
  padding-right: 10px;
  padding-top: 10px;
}

.card-qn h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-qn p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-qn .card-qn-infos {
  padding: 16px;
}

.card-tutor {
  min-width: 400px;
  max-width: 600px;
  height: 160px;
  background: $light-blue;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-tutor h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  color:white;
}

.card-tutor p {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-tutor img {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin: 15px 0px 50px 15px;
}


