<h1>hi</h1>








<!-- <div class='mt-2'>
  <% if current_user.tutor? %>

    <div class='review-header mb-2'>
      <strong>Reviews</strong>
    </div>
    <div class='card-white'>
      <% current_user.proposals.each do |proposal| %>
        <% if proposal.order.review.content %>
          <li><%= proposal.order.review.content %>
          <p>Rating: <%= proposal.order.review.rating %>/5</p></li>
        <% else %>
          <p class='muted'>No Reviews Yet</p>
        <% end %>
      <% end %>
    </div> 

<% end %> -->