<p class='main-heading w-50'>We would like to hear from you!</p>
<div class='review-container'>

  <div class='review-details-row'>
    <div class='review-tutor'>
      <p class='muted'>Tutor:</p>
      <%= avatar(current_user, "avatar-lg") %>
    </div>
    

  </div>

</div>