<p class='main-heading w-50'>We would like to hear from you!</p>
<div class='review-container'>

  <div class='review-details-row'>
    <div class='review-tutor'>
      <p class='muted'>Tutor:</p>
      <%= avatar(current_user, "avatar-lg") %>
    </div>
    <div class='review-rating'>
      <p class='muted'>Rating</p>
    </div>
  </div>
  <div class='review-content'>
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

</div>